In [1]:
import pandas as pd
import re

In [2]:
csv_path="../Sons_of_Analyst/clean_data.csv"
working_set=pd.read_csv(csv_path)
working_set.head()

,Unnamed: 0,job_title,category,company_name,url,city,state,country,job_description,job_type,salary_offered,job_board
0,0,data scientist,Accounting/Finance,Farmers Insurance Group,https://www.indeed.com/viewjob?jk=fd83355c2b23...,Woodland Hills,CA,Usa,Read what people are saying about working here...,Undefined,NaN,indeed
1,1,data scientist,NaN,Luxoft USA Inc,https://www.dice.com/jobs/detail/Data-Scientis...,Middletown,NJ,Usa,We have an immediate opening for a Sharp Data ...,Undefined,NaN,dice
2,2,data scientist,NaN,Cincinnati Bell Technology Solutions,https://www.dice.com/jobs/detail/Data-Scientis...,New York,NY,Usa,Candidates should have the following backgroun...,Full Time,NaN,dice
3,6,data scientist,Accounting/Finance,Spotify,https://www.indeed.com/viewjob?jk=c6db96b37f8a...,New York,NY 10011 (Chelsea area),Usa,Read what people are saying about working here...,Undefined,NaN,indeed
4,7,data scientist,NaN,Xoriant Corporation,https://www.dice.com/jobs/detail/Sr.-Data-Scie...,Santa Clara,CA,Usa,Job Title: - Sr. Data Science Consultant Durat...,Contract,NaN,dice

In [3]:
working_set.job_title.value_counts()

data scientist           6326
senior data scientist    2051
junior data scientist     365
Name: job_title, dtype: int64

In [4]:
working_set.job_description=working_set.job_description.str.lower()

salary_df=working_set[working_set["job_description"].str.contains("0k|0 k | $|60|70|80|90|100|110|120|130|140|150")]

wallet=[]
for x in salary_df["job_description"]:
    
    try:
        money=str(x).split("$")[1]
        salary=re.findall(r'\d+', money)
        for number in salary:
            dollars=float(number)
            wallet.append(dollars) 
        #print(salary)
        
    except IndexError:
        pass
len(wallet)
#salary_df.job_title.value_counts()

3330

In [5]:
bank=[]

for x in wallet:
    if 50 <= x <= 250:
        bank.append(x)
        
len(bank)

659

In [6]:
#salary=[]

In [7]:
#try1=working_set[working_set["job_description"].str.contains('Salary')]
#try2=try1[try1["job_description"].str.contains("$")]
#try3=try2["job_description"].tolist()
#for x in try3:
    #try:
        #s=x.split("$")[1]
        #k=s.split("K")[0]
        #salary.append(k)
    #except:
        #pass

In [8]:
#print(salary)