In [1]:
import pandas as pd
import re
import numpy as np

# load list of skills and create working list
skills_csv = pd.read_csv('skills.csv')
skills_list = skills_csv['Job Skill'].tolist()

# load latest clean data file
clean_data_v2 = pd.read_csv('clean_data_ver2.csv')

#skills_list
#clean_data_v2.head()

In [2]:
# add new column for job_skills
clean_data_v2['job_skills'] = clean_data_v2['job_description'].str.findall(f"({'|'.join(skills_list)})").str.join(', ').replace('', np.nan)
clean_data_v2.head()

,Unnamed: 0,Unnamed: 0.1,job_title,category,company_name,url,city,state,country,job_description,job_type,salary_offered,job_board,extracted_job_board,job_skills
0,0,0,data scientist,Accounting/Finance,Farmers Insurance Group,https://www.indeed.com/viewjob?jk=fd83355c2b23...,Woodland Hills,CA,Usa,Read what people are saying about working here...,Undefined,NaN,indeed,indeed,"R, R, R, R, Python, PowerBI, Tableau, Qlik..."
1,1,1,data scientist,NaN,Luxoft USA Inc,https://www.dice.com/jobs/detail/Data-Scientis...,Middletown,NJ,Usa,We have an immediate opening for a Sharp Data ...,Undefined,NaN,dice,dice,"Python, SQL, Python, Algorithms, R, R, Pytho..."
2,2,2,data scientist,NaN,Cincinnati Bell Technology Solutions,https://www.dice.com/jobs/detail/Data-Scientis...,New York,NY,Usa,Candidates should have the following backgroun...,Full Time,NaN,dice,dice,"Scala, Spark, Hadoop, Big Data, Spark, Scala, ML"
3,3,6,data scientist,Accounting/Finance,Spotify,https://www.indeed.com/viewjob?jk=c6db96b37f8a...,New York,NY,Usa,Read what people are saying about working here...,Undefined,NaN,indeed,indeed,"SQL, R, Tableau, Python, Scala"
4,4,7,data scientist,NaN,Xoriant Corporation,https://www.dice.com/jobs/detail/Sr.-Data-Scie...,Santa Clara,CA,Usa,Job Title: - Sr. Data Science Consultant Durat...,Contract,NaN,dice,dice,"Python, SQL, Statistics, Mathematics, Regressi..."

In [ ]:
# save new file
clean_data_v2.to_csv('clean_data_ver3.csv')