In [1]:
import pandas as pd

In [1]:
csv_path="glassdoor_jobs.csv"

In [3]:
jobs_df=pd.read_csv(csv_path)
jobs_df["Salary Estimate"].value_counts()

$105K-$138K (Glassdoor Est.)          130
$77K-$92K (Glassdoor Est.)             30
$125K-$156K (Glassdoor Est.)           30
$48K-$91K (Glassdoor Est.)             30
$110K-$145K (Glassdoor Est.)           30
$81K-$137K (Glassdoor Est.)            30
$139K-$229K (Glassdoor Est.)           30
$68K-$119K (Glassdoor Est.)            30
$41K-$73K (Glassdoor Est.)             30
$106K-$143K (Glassdoor Est.)           30
$88K-$133K (Glassdoor Est.)            30
$112K-$149K (Glassdoor Est.)           30
$60K-$124K (Glassdoor Est.)            30
$71K-$108K (Glassdoor Est.)            30
$50K-$63K (Glassdoor Est.)             30
$86K-$108K (Glassdoor Est.)            30
$59K-$101K (Glassdoor Est.)            30
$95K-$165K (Glassdoor Est.)            30
$57K-$94K (Glassdoor Est.)             30
$70K-$119K (Glassdoor Est.)            30
$81K-$102K (Glassdoor Est.)            30
$92K-$146K (Glassdoor Est.)            30
$105K-$117K (Glassdoor Est.)           30
$108K-$140K (Glassdoor Est.)           30
$73K-$128K (Glassdoor Est.)            30
$49K-$88K (Glassdoor Est.)             30
$83K-$99K (Glassdoor Est.)             30
$ 17-$ 23 Per Hour(Glassdoor Est.)     30
$90K-$109K (Glassdoor Est.)            30
$72K-$121K (Glassdoor Est.)            30
Name: Salary Estimate, dtype: int64

In [4]:
jobs_df.head(100)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$77K-$92K (Glassdoor Est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
1,Data Scientist,$77K-$92K (Glassdoor Est.),"Secure our Nation, Ignite your Future\n\nSumma...",4.1,ManTech\n4.1,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,₹100 to ₹500 billion (INR),-1
2,Data Scientist,$77K-$92K (Glassdoor Est.),"By clicking the Apply button, I understand tha...",3.7,Takeda\n3.7,"Cambridge, MA","OSAKA, Japan",10000+ employees,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),"Novartis, Baxter, Pfizer"
3,Data Scientist,$77K-$92K (Glassdoor Est.),Join Our Growing Team\nA career with A Place f...,3.0,A Place for Mom\n3.0,"Overland Park, KS","New York, NY",501 to 1000 employees,2000,Company - Private,Healthcare Services & Hospitals,Healthcare,Unknown / Non-Applicable,"Enlivant, Sunrise Senior Living, Brookdale Sen..."
4,Data Scientist,$77K-$92K (Glassdoor Est.),We are looking for Data Scientists who are int...,3.7,GovTech\n3.7,"San Francisco, CA","Singapore, Singapore",1001 to 5000 employees,2016,Government,Government Agencies,Government,Unknown / Non-Applicable,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Data Engineer,$90K-$109K (Glassdoor Est.),Hawkins Point Partners is looking to add a Dat...,4.6,HawkinsPointPartners\n4.6,"Cambridge, MA","Westford, MA",51 to 200 employees,2012,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹1 to ₹5 billion (INR),-1
96,Customer Data Scientist/Sales Engineer,$90K-$109K (Glassdoor Est.),Company Overview\n\nH2O.ai is the open source ...,4.1,h2o.ai\n4.1,"Chicago, IL","Mountain View, CA",201 to 500 employees,2011,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1
97,Data Scientist,$90K-$109K (Glassdoor Est.),Data Scientist\n\nAre you looking for a high e...,2.7,Relias\n2.7,"Morrisville, NC","Cary, NC",501 to 1000 employees,2012,Company - Private,Computer Hardware & Software,Information Technology,₹10 to ₹50 billion (INR),-1
98,Data Scientist,$90K-$109K (Glassdoor Est.),"As a Data Scientist, you'll utilize advanced q...",3.8,Via Transportation\n3.8,"New York, NY","New York, NY",501 to 1000 employees,2012,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
99,Data Scientist – Causal & Predictive analytics...,$90K-$109K (Glassdoor Est.),Posting Title\nData Scientist – Causal & Predi...,3.9,Novartis\n3.9,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),-1

In [5]:
jobs_df["Salary Estimate"].unique()

array(['$77K-$92K (Glassdoor Est.)', '$108K-$140K (Glassdoor Est.)',
       '$ 17-$ 23 Per Hour(Glassdoor Est.)',
       '$90K-$109K (Glassdoor Est.)', '$106K-$143K (Glassdoor Est.)',
       '$41K-$73K (Glassdoor Est.)', '$139K-$229K (Glassdoor Est.)',
       '$105K-$117K (Glassdoor Est.)', '$57K-$94K (Glassdoor Est.)',
       '$95K-$165K (Glassdoor Est.)', '$50K-$63K (Glassdoor Est.)',
       '$48K-$91K (Glassdoor Est.)', '$110K-$145K (Glassdoor Est.)',
       '$70K-$119K (Glassdoor Est.)', '$72K-$121K (Glassdoor Est.)',
       '$49K-$88K (Glassdoor Est.)', '$125K-$156K (Glassdoor Est.)',
       '$68K-$119K (Glassdoor Est.)', '$73K-$128K (Glassdoor Est.)',
       '$86K-$108K (Glassdoor Est.)', '$92K-$146K (Glassdoor Est.)',
       '$83K-$99K (Glassdoor Est.)', '$88K-$133K (Glassdoor Est.)',
       '$112K-$149K (Glassdoor Est.)', '$71K-$108K (Glassdoor Est.)',
       '$60K-$124K (Glassdoor Est.)', '$81K-$102K (Glassdoor Est.)',
       '$81K-$137K (Glassdoor Est.)', '$59K-$101K (Glassdoor Est.)',
       '$105K-$138K (Glassdoor Est.)'], dtype=object)

In [6]:
average_salary=[]
for salary in jobs_df["Salary Estimate"]:
    
    if salary == ("$105K-$138K (Glassdoor Est.)"):
        average_salary.append(121500)
    elif average_salary == ("$68K-$119K (Glassdoor Est.)"):
        salary.append(93500)
    elif salary == ("$ 17-$ 23 Per Hour(Glassdoor Est.)"):
        average_salary.append(41600)
    elif salary == ("$50K-$63K (Glassdoor Est.)"):
        average_salary.append(56500)
    elif salary == ("$70K-$119K (Glassdoor Est.)"):
        average_salary.append(94500)
    elif salary == ("$106K-$143K (Glassdoor Est.)"):
        average_salary.append(124500)
    elif salary == ("$92K-$146K (Glassdoor Est.)"):
        average_salary.append(119000)
    elif salary == ("$112K-$149K (Glassdoor Est.)"):
        average_salary.append(130500)
    elif salary == ("$81K-$137K (Glassdoor Est.)"):
        average_salary.append(109000)
    elif salary == ("$57K-$94K (Glassdoor Est.)"):
        average_salary.append(75500) 
    elif salary == ("$86K-$108K (Glassdoor Est.)"):
        average_salary.append(97000)
    elif salary == ("$139K-$229K (Glassdoor Est.)"):
        average_salary.append(184000)
    elif salary == ("$60K-$124K (Glassdoor Est.)"):
        average_salary.append(92000)
    elif salary == ("$110K-$145K (Glassdoor Est.)"):
        average_salary.append(127500)
    elif salary == ("$90K-$109K (Glassdoor Est.)"):
        average_salary.append(99500)
    elif salary == ("$72K-$121K (Glassdoor Est.)"):
        average_salary.append(96500)
    elif salary == ("$88K-$133K (Glassdoor Est.)"):
        average_salary.append(110500)
    elif salary == ("$49K-$88K (Glassdoor Est.)"):
        average_salary.append(68500)
    elif salary == ("$59K-$101K (Glassdoor Est.)"):
        average_salary.append(80000)
    elif salary == ("$81K-$102K (Glassdoor Est.)"):
        average_salary.append(91500)
    elif salary == ("$77K-$92K (Glassdoor Est.)"):
        average_salary.append(16900)
    elif salary == ("$125K-$156K (Glassdoor Est.)"):
        average_salary.append(145500)
    elif salary == ("$105K-$117K (Glassdoor Est.)"):
        average_salary.append(111000)
    elif salary == ("$71K-$108K (Glassdoor Est.)"):
        average_salary.append(89500)
    elif salary == ("$41K-$73K (Glassdoor Est.)"):
        average_salary.append(57000)
    elif salary == ("$48K-$91K (Glassdoor Est.)"):
        average_salary.append(69500)
    elif salary == ("$108K-$140K (Glassdoor Est.)"):
        average_salary.append(126500)
    elif salary == ("$95K-$165K (Glassdoor Est.)"):
        average_salary.append(130000)
    elif salary == ("$73K-$128K (Glassdoor Est.)"):
        average_salary.append(100500)
    elif salary == ("$83K-$99K (Glassdoor Est.)"):
        average_salary.append(91000)
    else:
        average_salary.append(0)

print(average_salary)

[16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 16900, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 126500, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 41600, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 99500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 124500, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 57000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 184000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 111000, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 75500, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 130000, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 56500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 69500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 127500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 94500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 96500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 68500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 145500, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 100500, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 97000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 119000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 91000, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 110500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 130500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 89500, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 92000, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 91500, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 109000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 80000, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500, 121500]

In [7]:
len(average_salary)

1000

In [8]:
jobs_df["salary_average"]=average_salary

In [9]:
jobs_df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,salary_average
0,Data Scientist,$77K-$92K (Glassdoor Est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",16900
1,Data Scientist,$77K-$92K (Glassdoor Est.),"Secure our Nation, Ignite your Future\n\nSumma...",4.1,ManTech\n4.1,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,₹100 to ₹500 billion (INR),-1,16900
2,Data Scientist,$77K-$92K (Glassdoor Est.),"By clicking the Apply button, I understand tha...",3.7,Takeda\n3.7,"Cambridge, MA","OSAKA, Japan",10000+ employees,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),"Novartis, Baxter, Pfizer",16900
3,Data Scientist,$77K-$92K (Glassdoor Est.),Join Our Growing Team\nA career with A Place f...,3.0,A Place for Mom\n3.0,"Overland Park, KS","New York, NY",501 to 1000 employees,2000,Company - Private,Healthcare Services & Hospitals,Healthcare,Unknown / Non-Applicable,"Enlivant, Sunrise Senior Living, Brookdale Sen...",16900
4,Data Scientist,$77K-$92K (Glassdoor Est.),We are looking for Data Scientists who are int...,3.7,GovTech\n3.7,"San Francisco, CA","Singapore, Singapore",1001 to 5000 employees,2016,Government,Government Agencies,Government,Unknown / Non-Applicable,-1,16900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Data Scientist,$105K-$138K (Glassdoor Est.),• Be one of the first to join our rapidly grow...,5.0,Shelf Engine\n5.0,"Seattle, WA","Seattle, WA",1 to 50 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,121500
996,Analytic Consultant 4 - Branch Banking Reporti...,$105K-$138K (Glassdoor Est.),Job Description\n\nImportant Note: During the ...,3.6,Wells Fargo\n3.6,"Dallas, TX","San Francisco, CA",10000+ employees,1852,Company - Public,Banks & Building Societies,Finance,₹500+ billion (INR),-1,121500
997,Data Scientist,$105K-$138K (Glassdoor Est.),"THE COMPANY\n\nFannie Mae provides reliable, l...",3.6,Fannie Mae\n3.6,"Washington, DC","Washington, DC",5001 to 10000 employees,1938,Company - Public,Investment Banking & Asset Management,Finance,₹500+ billion (INR),Freddie Mac,121500
998,Data Scientist,$105K-$138K (Glassdoor Est.),Ready to write the best chapter of your career...,3.9,XSELL Technologies\n3.9,"Chicago, IL","Chicago, IL",51 to 200 employees,2014,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,121500
999,Clinical Data Analyst,$105K-$138K (Glassdoor Est.),About Us:\n\nNYSTEC is a non-profit technology...,3.8,NYSTEC\n3.8,"New York, NY","Rome, NY",51 to 200 employees,1996,Non-profit Organisation,Consulting,Business Services,₹1 to ₹5 billion (INR),"KPMG, Accenture, Deloitte",121500

In [10]:
jobs_df["Sector"].value_counts()

Information Technology              336
Business Services                   135
Biotech & Pharmaceuticals           127
-1                                   95
Finance                              63
Healthcare                           47
Insurance                            44
Aerospace & Defence                  27
Manufacturing                        27
Retail                               17
Government                           16
Oil, Gas, Energy & Utilities         12
Media                                11
Education                            10
Telecommunications                    6
Transportation & Logistics            6
Consumer Services                     5
Building, Repair & Maintenance        4
Accounting & Legal                    4
Real Estate                           3
Non-Profits                           2
Agriculture & Forestry                1
Mining & Metals                       1
Arts, Entertainment & Recreation      1
Name: Sector, dtype: int64

In [11]:
jobs_df["Job Title"] = jobs_df["Job Title"].str.lower()

In [12]:
jrs=jobs_df[jobs_df["Job Title"].str.contains("jr|junior|entry|associate")]
jrs["Job Title"]="junior data scientist"
jrs

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,salary_average
8,junior data scientist,$77K-$92K (Glassdoor Est.),About Veracyte\n\n\nVeracyte (Nasdaq: VCYT) is...,3.5,Veracyte\n3.5,"South San Francisco, CA","South San Francisco, CA",201 to 500 employees,2008,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),-1,16900
20,junior data scientist,$77K-$92K (Glassdoor Est.),*Our company:\n*Conagen Inc. is a leader in cu...,2.0,Conagen\n2.0,"New Bedford, MA","Bedford, MA",51 to 200 employees,-1,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,16900
58,junior data scientist,$108K-$140K (Glassdoor Est.),Rubius Therapeutics is a clinical-stage biopha...,4.1,Rubius Therapeutics\n4.1,"Smithfield, RI","Cambridge, MA",201 to 500 employees,2013,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),-1,126500
89,junior data scientist,$ 17-$ 23 Per Hour(Glassdoor Est.),Description:\nDecibel is seeking a qualified s...,4.5,Decibel Therapeutics\n4.5,"Boston, MA","Boston, MA",51 to 200 employees,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,41600
119,junior data scientist,$90K-$109K (Glassdoor Est.),Wave Life Sciences is a biotechnology company ...,3.3,Wave Life Sciences\n3.3,"Worcester, MA","Cambridge, MA",201 to 500 employees,2012,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,99500
121,junior data scientist,$106K-$143K (Glassdoor Est.),Phreesia is looking for an Associate Director ...,3.5,"Phreesia, Inc.\n3.5","Raleigh, NC","New York, NY",201 to 500 employees,2005,Company - Public,Healthcare Services & Hospitals,Healthcare,Unknown / Non-Applicable,-1,124500
207,junior data scientist,$139K-$229K (Glassdoor Est.),Puget Sound Energy is looking to grow our comm...,3.3,Puget Sound Energy\n3.3,"Bothell, WA","Bellevue, WA",1001 to 5000 employees,1999,Company - Private,Utilities,"Oil, Gas, Energy & Utilities",₹100 to ₹500 billion (INR),-1,184000
235,junior data scientist,$105K-$117K (Glassdoor Est.),We are seeking an Associate Scientist in Techn...,3.8,Aldevron\n3.8,"Fargo, ND","Fargo, ND",201 to 500 employees,1998,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),-1,111000
265,junior data scientist,$57K-$94K (Glassdoor Est.),Job Description Summary:\nJob Description:\n\n...,3.1,"PTC Therapeutics, Inc.\n3.1","South Plainfield, NJ","South Plainfield, NJ",501 to 1000 employees,1998,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),-1,75500
355,junior data scientist,$48K-$91K (Glassdoor Est.),JOB SUMMARY\nThe associate data scientist is r...,2.9,SPECTRUM\n2.9,"Stamford, CT","Stamford, CT",10000+ employees,2016,Subsidiary or Business Segment,"Cable, Internet & Telephone Providers",Telecommunications,₹500+ billion (INR),-1,69500
374,junior data scientist,$110K-$145K (Glassdoor Est.),"Do you have expertise in, and passion for appl...",3.9,AstraZeneca\n3.9,"Gaithersburg, MD","Cambridge, United Kingdom",10000+ employees,1913,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),"Roche, GlaxoSmithKline, Novartis",127500
380,junior data scientist,$110K-$145K (Glassdoor Est.),Site Name: Richmond Sherwood\nPosted Date: May...,3.9,GSK\n3.9,"Richmond, VA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),"Pfizer, AstraZeneca, Merck",127500
400,junior data scientist,$70K-$119K (Glassdoor Est.),"By clicking the Apply button, I understand tha...",3.7,Takeda\n3.7,"Cambridge, MA","OSAKA, Japan",10000+ employees,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),"Novartis, Baxter, Pfizer",94500
428,junior data scientist,$72K-$121K (Glassdoor Est.),Rubius Therapeutics is a clinical-stage biopha...,4.1,Rubius Therapeutics\n4.1,"Cambridge, MA","Cambridge, MA",201 to 500 employees,2013,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),-1,96500
508,junior data scientist,$125K-$156K (Glassdoor Est.),"By clicking the Apply button, I understand tha...",3.7,Takeda\n3.7,"Boston, MA","OSAKA, Japan",10000+ employees,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),"Novartis, Baxter, Pfizer",145500
760,junior data scientist,$60K-$124K (Glassdoor Est.),"Position Description\n\n\nDynetics, a wholly o...",4.0,Dynetics\n4.0,"Huntsville, AL","Huntsville, AL",1001 to 5000 employees,1974,Company - Private,Aerospace & Defence,Aerospace & Defence,₹10 to ₹50 billion (INR),-1,92000
765,junior data scientist,$60K-$124K (Glassdoor Est.),Site Name: Richmond Sherwood\nPosted Date: May...,3.9,GSK\n3.9,"Richmond, VA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),"Pfizer, AstraZeneca, Merck",92000
789,junior data scientist,$81K-$102K (Glassdoor Est.),"Who we are\n\n23andMe, the leading consumer ge...",4.4,23andMe\n4.4,"South San Francisco, CA","Sunnyvale, CA",501 to 1000 employees,2006,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,"Ancestry, Verily Life Sciences, Abbott",91500
815,junior data scientist,$81K-$137K (Glassdoor Est.),April 2020 Update from WebFX: We're still acti...,4.7,webfx.com\n4.7,"Harrisburg, PA","Harrisburg, PA",201 to 500 employees,1997,Company - Private,Advertising & Marketing,Business Services,₹1 to ₹5 billion (INR),-1,109000
828,junior data scientist,$81K-$137K (Glassdoor Est.),Jefferies is seeking a\nData Scientist/Enginee...,3.7,Jefferies\n3.7,"New York, NY","New York, NY",1001 to 5000 employees,1962,Company - Public,Investment Banking & Asset Management,Finance,₹100 to ₹500 billion (INR),-1,109000

In [13]:
seniors=jobs_df[jobs_df["Job Title"].str.contains("senior|lead|principal")]
seniors["Job Title"]="senior data scientist"
seniors

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,salary_average
6,senior data scientist,$77K-$92K (Glassdoor Est.),"Senior Data Engineer\nLocation/City: Atlanta, ...",3.6,Steady\n3.6,"Atlanta, GA","Atlanta, GA",1 to 50 employees,2017,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1,16900
9,senior data scientist,$77K-$92K (Glassdoor Est.),Brinks Home Security™ is a proven leader in th...,3.4,Brinks Home Security\n3.4,"Dallas, TX","Farmers Branch, TX",1001 to 5000 employees,-1,Company - Public,Security Services,Business Services,Unknown / Non-Applicable,"ADT Security Services, Protection 1",16900
17,senior data scientist,$77K-$92K (Glassdoor Est.),Lendio is looking to fill a position for a Sen...,4.9,Lendio\n4.9,"Lehi, UT","Lehi, UT",201 to 500 employees,2011,Company - Private,Lending,Finance,₹5 to ₹10 billion (INR),-1,16900
21,senior data scientist,$77K-$92K (Glassdoor Est.),"Senior Scientist, DMPK\nLocation\n\n\nAgios Ph...",3.8,Agios Pharmaceuticals\n3.8,"Cambridge, MA","Cambridge, MA",501 to 1000 employees,2008,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹5 to ₹10 billion (INR),-1,16900
22,senior data scientist,$77K-$92K (Glassdoor Est.),"About Us\n\nAt GutCheck, we pioneered agile ma...",3.8,GutCheck\n3.8,"Denver, CO","Denver, CO",51 to 200 employees,2009,Company - Private,Advertising & Marketing,Business Services,₹1 to ₹5 billion (INR),"Nielsen, Zappi, SurveyMonkey",16900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,senior data scientist,$81K-$102K (Glassdoor Est.),Senior Data Analyst\n\nAbout us\n\n\nLife360 b...,3.9,Life360\n3.9,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2008,Company - Public,Internet,Information Technology,Unknown / Non-Applicable,-1,91500
811,senior data scientist,$81K-$137K (Glassdoor Est.),"Senior Scientist, Medicinal Chemistry\nLocatio...",3.4,Omeros\n3.4,"Seattle, WA","Seattle, WA",201 to 500 employees,1994,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹5 to ₹10 billion (INR),-1,109000
840,senior data scientist,$59K-$101K (Glassdoor Est.),Senior Data Analyst - Career Portals\n\nSkip t...,3.3,Home Point Financial\n3.3,Remote,"Ann Arbor, MI",1001 to 5000 employees,2015,Company - Private,Lending,Finance,Unknown / Non-Applicable,-1,80000
858,senior data scientist,$59K-$101K (Glassdoor Est.),Rubius Therapeutics is a clinical-stage biopha...,4.1,Rubius Therapeutics\n4.1,"Cambridge, MA","Cambridge, MA",201 to 500 employees,2013,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),-1,80000
859,senior data scientist,$59K-$101K (Glassdoor Est.),The MITRE Corporation has a new opportunity fo...,3.2,MITRE\n3.2,"McLean, VA","Bedford, MA",5001 to 10000 employees,1958,Non-profit Organisation,Government Agencies,Government,₹100 to ₹500 billion (INR),"Battelle, General Atomics, SAIC",80000

In [14]:
frames=[jrs, seniors]
jrs_seniors=pd.concat(frames)
jrs_seniors

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,salary_average
8,junior data scientist,$77K-$92K (Glassdoor Est.),About Veracyte\n\n\nVeracyte (Nasdaq: VCYT) is...,3.5,Veracyte\n3.5,"South San Francisco, CA","South San Francisco, CA",201 to 500 employees,2008,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),-1,16900
20,junior data scientist,$77K-$92K (Glassdoor Est.),*Our company:\n*Conagen Inc. is a leader in cu...,2.0,Conagen\n2.0,"New Bedford, MA","Bedford, MA",51 to 200 employees,-1,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,16900
58,junior data scientist,$108K-$140K (Glassdoor Est.),Rubius Therapeutics is a clinical-stage biopha...,4.1,Rubius Therapeutics\n4.1,"Smithfield, RI","Cambridge, MA",201 to 500 employees,2013,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),-1,126500
89,junior data scientist,$ 17-$ 23 Per Hour(Glassdoor Est.),Description:\nDecibel is seeking a qualified s...,4.5,Decibel Therapeutics\n4.5,"Boston, MA","Boston, MA",51 to 200 employees,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,41600
119,junior data scientist,$90K-$109K (Glassdoor Est.),Wave Life Sciences is a biotechnology company ...,3.3,Wave Life Sciences\n3.3,"Worcester, MA","Cambridge, MA",201 to 500 employees,2012,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,99500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,senior data scientist,$81K-$102K (Glassdoor Est.),Senior Data Analyst\n\nAbout us\n\n\nLife360 b...,3.9,Life360\n3.9,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2008,Company - Public,Internet,Information Technology,Unknown / Non-Applicable,-1,91500
811,senior data scientist,$81K-$137K (Glassdoor Est.),"Senior Scientist, Medicinal Chemistry\nLocatio...",3.4,Omeros\n3.4,"Seattle, WA","Seattle, WA",201 to 500 employees,1994,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹5 to ₹10 billion (INR),-1,109000
840,senior data scientist,$59K-$101K (Glassdoor Est.),Senior Data Analyst - Career Portals\n\nSkip t...,3.3,Home Point Financial\n3.3,Remote,"Ann Arbor, MI",1001 to 5000 employees,2015,Company - Private,Lending,Finance,Unknown / Non-Applicable,-1,80000
858,senior data scientist,$59K-$101K (Glassdoor Est.),Rubius Therapeutics is a clinical-stage biopha...,4.1,Rubius Therapeutics\n4.1,"Cambridge, MA","Cambridge, MA",201 to 500 employees,2013,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),-1,80000
859,senior data scientist,$59K-$101K (Glassdoor Est.),The MITRE Corporation has a new opportunity fo...,3.2,MITRE\n3.2,"McLean, VA","Bedford, MA",5001 to 10000 employees,1958,Non-profit Organisation,Government Agencies,Government,₹100 to ₹500 billion (INR),"Battelle, General Atomics, SAIC",80000

In [15]:
jrs_seniors.reset_index(inplace=True)
jrs_seniors

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,salary_average
0,8,junior data scientist,$77K-$92K (Glassdoor Est.),About Veracyte\n\n\nVeracyte (Nasdaq: VCYT) is...,3.5,Veracyte\n3.5,"South San Francisco, CA","South San Francisco, CA",201 to 500 employees,2008,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),-1,16900
1,20,junior data scientist,$77K-$92K (Glassdoor Est.),*Our company:\n*Conagen Inc. is a leader in cu...,2.0,Conagen\n2.0,"New Bedford, MA","Bedford, MA",51 to 200 employees,-1,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,16900
2,58,junior data scientist,$108K-$140K (Glassdoor Est.),Rubius Therapeutics is a clinical-stage biopha...,4.1,Rubius Therapeutics\n4.1,"Smithfield, RI","Cambridge, MA",201 to 500 employees,2013,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),-1,126500
3,89,junior data scientist,$ 17-$ 23 Per Hour(Glassdoor Est.),Description:\nDecibel is seeking a qualified s...,4.5,Decibel Therapeutics\n4.5,"Boston, MA","Boston, MA",51 to 200 employees,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,41600
4,119,junior data scientist,$90K-$109K (Glassdoor Est.),Wave Life Sciences is a biotechnology company ...,3.3,Wave Life Sciences\n3.3,"Worcester, MA","Cambridge, MA",201 to 500 employees,2012,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,99500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,801,senior data scientist,$81K-$102K (Glassdoor Est.),Senior Data Analyst\n\nAbout us\n\n\nLife360 b...,3.9,Life360\n3.9,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2008,Company - Public,Internet,Information Technology,Unknown / Non-Applicable,-1,91500
126,811,senior data scientist,$81K-$137K (Glassdoor Est.),"Senior Scientist, Medicinal Chemistry\nLocatio...",3.4,Omeros\n3.4,"Seattle, WA","Seattle, WA",201 to 500 employees,1994,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹5 to ₹10 billion (INR),-1,109000
127,840,senior data scientist,$59K-$101K (Glassdoor Est.),Senior Data Analyst - Career Portals\n\nSkip t...,3.3,Home Point Financial\n3.3,Remote,"Ann Arbor, MI",1001 to 5000 employees,2015,Company - Private,Lending,Finance,Unknown / Non-Applicable,-1,80000
128,858,senior data scientist,$59K-$101K (Glassdoor Est.),Rubius Therapeutics is a clinical-stage biopha...,4.1,Rubius Therapeutics\n4.1,"Cambridge, MA","Cambridge, MA",201 to 500 employees,2013,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),-1,80000
129,859,senior data scientist,$59K-$101K (Glassdoor Est.),The MITRE Corporation has a new opportunity fo...,3.2,MITRE\n3.2,"McLean, VA","Bedford, MA",5001 to 10000 employees,1958,Non-profit Organisation,Government Agencies,Government,₹100 to ₹500 billion (INR),"Battelle, General Atomics, SAIC",80000

In [16]:
drop_jrs_seniors=jrs_seniors["index"].tolist()

In [17]:
mid_level=jobs_df.drop(drop_jrs_seniors)

In [25]:
mid_level["Job Title"]="data scientist"
frames=[mid_level, jrs_seniors]
clean_roles=pd.concat(frames)
clean_roles["Job Title"].value_counts()

data scientist           873
senior data scientist    110
junior data scientist     20
Name: Job Title, dtype: int64

In [26]:
clean_roles2=clean_roles.drop_duplicates(subset=["Job Description"])
clean_roles2

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,salary_average,Job Tiele,index
0,data scientist,$77K-$92K (Glassdoor Est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",16900,data scientist,NaN
1,data scientist,$77K-$92K (Glassdoor Est.),"Secure our Nation, Ignite your Future\n\nSumma...",4.1,ManTech\n4.1,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,₹100 to ₹500 billion (INR),-1,16900,data scientist,NaN
2,data scientist,$77K-$92K (Glassdoor Est.),"By clicking the Apply button, I understand tha...",3.7,Takeda\n3.7,"Cambridge, MA","OSAKA, Japan",10000+ employees,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹500+ billion (INR),"Novartis, Baxter, Pfizer",16900,data scientist,NaN
3,data scientist,$77K-$92K (Glassdoor Est.),Join Our Growing Team\nA career with A Place f...,3.0,A Place for Mom\n3.0,"Overland Park, KS","New York, NY",501 to 1000 employees,2000,Company - Private,Healthcare Services & Hospitals,Healthcare,Unknown / Non-Applicable,"Enlivant, Sunrise Senior Living, Brookdale Sen...",16900,data scientist,NaN
4,data scientist,$77K-$92K (Glassdoor Est.),We are looking for Data Scientists who are int...,3.7,GovTech\n3.7,"San Francisco, CA","Singapore, Singapore",1001 to 5000 employees,2016,Government,Government Agencies,Government,Unknown / Non-Applicable,-1,16900,data scientist,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,senior data scientist,$81K-$102K (Glassdoor Est.),Join our team dedicated to developing and exec...,4.1,Novetta\n4.1,"Fort Belvoir, VA","Mc Lean, VA",501 to 1000 employees,2012,Company - Private,Enterprise Software & Network Solutions,Information Technology,₹10 to ₹50 billion (INR),"Leidos, CACI International, Booz Allen Hamilton",91500,NaN,786.0
126,senior data scientist,$81K-$137K (Glassdoor Est.),"Senior Scientist, Medicinal Chemistry\nLocatio...",3.4,Omeros\n3.4,"Seattle, WA","Seattle, WA",201 to 500 employees,1994,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹5 to ₹10 billion (INR),-1,109000,NaN,811.0
127,senior data scientist,$59K-$101K (Glassdoor Est.),Senior Data Analyst - Career Portals\n\nSkip t...,3.3,Home Point Financial\n3.3,Remote,"Ann Arbor, MI",1001 to 5000 employees,2015,Company - Private,Lending,Finance,Unknown / Non-Applicable,-1,80000,NaN,840.0
128,senior data scientist,$59K-$101K (Glassdoor Est.),Rubius Therapeutics is a clinical-stage biopha...,4.1,Rubius Therapeutics\n4.1,"Cambridge, MA","Cambridge, MA",201 to 500 employees,2013,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),-1,80000,NaN,858.0
129,senior data scientist,$59K-$101K (Glassdoor Est.),The MITRE Corporation has a new opportunity fo...,3.2,MITRE\n3.2,"McLean, VA","Bedford, MA",5001 to 10000 employees,1958,Non-profit Organisation,Government Agencies,Government,₹100 to ₹500 billion (INR),"Battelle, General Atomics, SAIC",80000,NaN,859.0

In [27]:
clean_roles2["Job Title"].value_counts()

data scientist           761
senior data scientist    106
junior data scientist     20
Name: Job Title, dtype: int64

In [28]:
clean_roles2=clean_roles2[["Job Title", "Location", "Industry", "Sector", "salary_average"]]
clean_roles2

,Job Title,Location,Industry,Sector,salary_average
0,data scientist,"New York, NY",Advertising & Marketing,Business Services,16900
1,data scientist,"Chantilly, VA",Research & Development,Business Services,16900
2,data scientist,"Cambridge, MA",Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,16900
3,data scientist,"Overland Park, KS",Healthcare Services & Hospitals,Healthcare,16900
4,data scientist,"San Francisco, CA",Government Agencies,Government,16900
...,...,...,...,...,...
124,senior data scientist,"Fort Belvoir, VA",Enterprise Software & Network Solutions,Information Technology,91500
126,senior data scientist,"Seattle, WA",Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,109000
127,senior data scientist,Remote,Lending,Finance,80000
128,senior data scientist,"Cambridge, MA",Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,80000
129,senior data scientist,"McLean, VA",Government Agencies,Government,80000

In [30]:
clean_roles.to_csv("../Sons_of_Analyst/glassdoor_average_salaries.csv")