In [62]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np

# load latest clean data file
clean_data = pd.read_csv('clean_data_ver3.csv')

# load list of skills and create working list
skills_csv = pd.read_csv('skills.csv')
skill_list = skills_csv['Job Skill'].tolist()

In [63]:
# extract job skills as list of strings
cloud_words = clean_data['job_skills'].astype(str).tolist()
cloud_words_all = ' '.join(cloud_words)

In [64]:
# get counts of each term in job skills column
wordfreq = []

for w in skill_list:
    wordfreq.append(cloud_words_all.count(w))

In [65]:
# convert the lists back to pd.Series
skill_count = pd.Series(wordfreq, name='skill_count')
skills = pd.Series(skill_list)

# join both pd.Series into new pd.DataFrame
skill_count_df = pd.DataFrame({'job_skill':skills, 'skill_count':skill_count})

In [66]:
skill_count_df

          job_skill  skill_count
0               SQL         8948
1            Python        10300
2   MachineLearning            1
3       DataScience            9
4       Mathematics         3056
5        Statistics         4145
6        Algorithms          234
7            Models          470
8        Regression           94
9                 R        31673
10            Cloud         1409
11             HIVE          176
12             Hive         1395
13              Pig          496
14         Big Data         2163
15            NoSQL          851
16           Hadoop         3523
17       PostgreSQL          202
18            Spark         3802
19      Development         1117
20     Quantitative          368
21         Analysis         1280
22               ML         3490
23          Tableau         2350
24          Insight          504
25       Analytical          284
26              API          603
27              SAS         3065
28            Scala         1641
29               C#          262
30             Perl          342
31          PowerBI          214
32         QlikView           93
33   NeuralNetworks            0
34       Predictive          616
35     Prescriptive           45
36      Performance          276
37              NLP         1687
38     DataModeling            0
39            Azure         1518
40              AWS         3159
41   ComputerVision            0
42            Agile          656
43          Jupyter          298
44       Matplotlib           96
45           Pandas          433
46            Numpy          149
47            Query          301
48     DeepLearning           10
49       Clustering          153
50              ETL          929
51              ELT            9
52           Matlab          528
53     scikit-learn          412
54       TensorFlow          754